@import "98.css";

@font-face {
    font-family: "Win98";
    src: url("/MSW98UI-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: "Win98", monospace;
}


html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
}


body {
    background: #008080;
    overflow: hidden;
}